<div class="main row container calculate-pensions">
  <div class="wrapper outs-docs">
    <header>Bulk Import CSV File Generator</header>
    <form id="download-csv-form" action="#">
      <!-- <p>Browse File to Upload</p> -->
      <a
        id="btn-auth"
        href="https://formelo.stanbicibtcpension.com/oauth/authorize/?client_id=6518649306807093-ndjx7rpk.api-clients.formelo.stanbicibtcpension.com&response_type=token&redirect_uri=http://localhost:8080/tools-test/progress&scope=*.*&state="
        >Get Started</a
      >
    </form>
  </div>
</div>
