<div class="footer-small">
    <div class="footer-small-content container">
        <div class="enquiries">
            <h3 class="top">General Enquiries</h3>
            <p class="mb-10px">Local: 012716000<br/>International: +234-1-2716000</p>
        </div>   
        
        <div class="footer-inner-text">
          <div class="top">
              <h3><a href="./disclaimer">Disclaimer</a></h3>

              <h3><a href="./terms-and-conditions">Terms and Conditions</a></h3>

              <h3><a href="https://www.stanbicibtcpension.com/nigeriapensionmanagers/pension-managers/about-us/legal/Privacy-and-security-statement">Privacy & Security Statement</a></h3>
          </div>
          <p>
              Stanbic IBTC Pension Managers Limited.
          </p>
        </div>

         <div class="app-download">
            <div class="align-app-download-div mw">
              <h3 class="top">Download the Stanbic IBTC Bank App</h3>
              <div class="app-download-content">
                  <div class="download-svg">
                    <a href="https://play.google.com/store/apps/details?id=com.stanbicibtc.mobile&hl=en" class="android-download">
                    <img
                        src="./img/android.svg"
                        alt="Get the Stanbic IBTC app on Google Play"
                    />
                    </a>
                    <a href="https://apps.apple.com/ng/app/stanbic-ibtc-mobile-app/id1167007240">
                    <img
                        src="./img/ios.svg"
                        alt="Get the Stanbic IBTC app on App Store"
                    />
                    </a>
                  </div>      
              </div>
            </div>
        </div>
    </div>
</div>
    
    <script src="./ext/code.jquery.com/jquery.min.js"></script>

   <script src="./ext/code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="./ext/cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <script src="./ext/cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<script src="./js/scripts.js"></script>
<script src="./js/nper-values.js"></script>

<script src="./js/calculations-common.js"></script>
<% if (pageName ==="calculatepensions") {%>
    <script src="./js/calculations-epc.js"></script>    
    <script src="./js/jquery-ui-slider2.js"></script>
    <script src="./js/gauge.js"></script>
    <script src="./js/guage-canvas.js"></script>
 
<% } %>
<% if (pageName ==="budgetplanner") {%><script src="./js/calculations-bp.js"></script><% } %>


<script src="./js/steppers.js"></script>
<!-- <script src="./js/radial-progress-bar.js"></script> -->
<script src="./js/tabs.js"></script>
<script src="./js/custom.js"></script>
<!-- <script src="./js/csv-gen.js"></script> -->
</body>
</html>
