<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./img/favicons/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="./img/favicons/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="./img/favicons/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="./img/favicons/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="./img/favicons/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="./img/favicons/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="./img/favicons/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="./img/favicons/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="./img/favicons/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="./img/favicons/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="./img/favicons/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./img/favicons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="./img/favicons/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="./img/favicons/favicon-16x16.png"
    />
    <link rel="manifest" href="./img/favicons/manifest.json" />
    <meta
      name="msapplication-config"
      content="./img/favicons/browserconfig.xml"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-TileImage"
      content="./img/favicons/ms-icon-144x144.png"
    />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="./css/style2.css" />
    <link rel="stylesheet" href="./css/slider.css" />
    <link
      rel="stylesheet"
      href="./ext/cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="./ext/code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <link rel="stylesheet" href="./css/stripe.css" />
    <link rel="stylesheet" href="./css/radial-progress-bar.css" />
    <link rel="stylesheet" href="./css/tabs.css" />

    <link
      rel="stylesheet"
      href="./ext/cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css"
    />
    <!--<link rel="stylesheet" href="./css/accordion.css" />-->
    <link rel="stylesheet" href="./css/custom.css" />

    <title>Stanbic IBTC Bulk Import Tool</title>
  </head>
  <body class="<%=(pageName ==="calculatepensions") ? "epc" : (pageName ===
  "budgetplanner") ? "budgetplanner" : "faq" %> ">
  <div class="StripeBackground updated">
    <div class="stripe s0"></div>
    <div class="stripe s2 pattern"></div>
  </div>
  <div>
    <div class="menu-btn">
      <!-- <i class="fas fa-bars fa-2x"></i> -->
      <a href="javascript:;" id="toggle" aria-hidden="false" class=""
        ><svg
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path
            fill="currentColor"
            d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
            class=""
          ></path></svg
      ></a>
    </div>
    <div class="header">
      <div class="container">
        <!-- Nav -->
        <nav class="main-nav">
          <div class="logo-n-name">
            <!--<a href="/view2">     <img src="./img/logo.png" alt="StanbicIbtc" class="logo" /></a>-->
            <a href="../tools-test/outstanding-docs" class="logo"></a>
            <!--   <img src="./logo.png" alt="StanbicIbtc" class="logo" /> 
            <ul class="brand-name">
              <li class="stanbicibtc"><a href="/view2">Stanbic IBTC</a></li>
              <li class="pensions-managers">
                >Pension Managers
              </li>
            </ul>-->
          </div>

          <!-- 
            <ul class="main-menu">
              <li class="nav-item <%=(pageName ==="calculatepensions") ? "active" : ""%>">
                <div><a href="./pension-calculator">Calculate Pensions</a></div>
              </li>
              <li class="nav-item <%=(pageName ==="budgetplanner") ? "active" : ""%>">
                  <div><a href="./budget-planner">Plan a Budget</a></div>
              </li>
              <li class="nav-item <%=(pageName ==="faq") ? "active" : ""%>"><div><a href="./faq">FAQ</a></div></li>
              <li class="nav-item"><div><a href="https://www.stanbicibtcpension.com/nigeriapensionmanagers/pension-managers/conntact-us">Contact Us</a></div></li>
            </ul>

             -->
        </nav>
      </div>
    </div>
  </div>
</html>
